/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border-radius: 10px;
}
html {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
nav a {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 3px black;
}
h1,
nav a {
  font-size: 2.8rem;
  color: white;
  text-decoration: none;
}
h2 {
  font-size: 2.5rem;
  color: gold;
}
p {
  font-family: 'Alice', serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: Bold;
  color: white;
  text-shadow: 0 0 3px black;
}
h4 {
  font-size: 1.7rem;
}
.navBar {
  width: 100%;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: rgba(0, 163, 255, 0.8);
  padding: 0 20px;
  position: fixed;
  align-content: space-between;
  border: 1px solid rgba(0, 163, 255, 0.8);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.navBar nav a {
  margin-left: 10px;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-family: 'Alice', serif;
  font-weight: Bold;
}
@media (max-width: 500px) {
  .navBar nav a {
    font-size: 1rem;
  }
}
.navBar img {
  width: 100px;
}
.navBar h1 {
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
@media (max-width: 500px) {
  .navBar h1 {
    font-size: 2rem;
  }
}
.image-top {
  padding-top: 70px;
  width: 100%;
}
.image-top img {
  width: 100%;
  border-radius: 0;
}
.mid-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width:500px) {
  .mid-page {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.mid-page .left-box {
  margin-top: 15%;
  height: 300px;
  width: 300px;
  background: #00a3ffcc;
  border-radius: 25px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .mid-page .left-box {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.mid-page .right-box {
  margin-top: 15%;
  height: 300px;
  width: 300px;
  background: #00a3ffcc;
  border-radius: 25px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .mid-page .right-box {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.mid-page .box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}
.box-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 30px;
}
